* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    background-color: #F6F7F8;
    font-size: 16px;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.capstone {
    background-color: #0cdaf5;
    border: 5px solid #000;
    border-radius: 5px;
    box-shadow: 13px 13px 4px #1d1c1c;

    
}

.sectionOne   {
    background-color: #FFFFFF;
}

h1 {
    padding-bottom: 25px;
    font-size: 2.5rem;
    text-shadow: 3px 3px #a39aa3;
    font-family: 'Architects Daughter', cursive;

}

.capstone-header-img img,
.capstone-section-img img {
    border: 4.5px solid #000;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
}

.capstone-header-nav a {
    text-decoration: underline;
}

.capstone-header-nav li {
    list-style-type: none;
    padding: 5px;
}

.capstone-header-nav a {
    color: #0e38f7;
    font-weight: bold;
}

.capstone-header-nav a:active {
    color: #000000;
    text-shadow: 2px 2px #93ddfa;
}

.capstone-section {
    padding: 50px 0;
}

.capstone-section p {
    margin: auto 3%;
    text-align: left;
    
}



.section-img img {
    border: 4.5px solid #000;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
}

h1 {
    padding: 40px 0;
}

h3{
    padding-bottom: 40px;
    text-decoration: underline;
}

footer h3 {
    padding: 45px 0;
}

footer {
    padding-bottom: 35px;
}


/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 960px) {
    body {
        font-size: 20px;
        line-height: 1.35;
    }

    h1 {
        font-size: 3.7rem;
        padding-bottom: 35px;
    }
    .capstone-section p {
        margin: auto 6%;
        
    }
}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        font-size: 24px;
        line-height: 1.4;
    }

    .capstone-header-nav a:hover {
        color: #000;
        text-shadow: 2px 2px #93ddfa;
    }

    h1 {
        font-size: 5.5rem;
        padding-bottom: 50px 
    }
    
    .capstone-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .capstone-section p {
        margin: auto 10%;
        
    }

    .section-img {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        flex-wrap: wrap;
    }

}