/* Begin Base Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: .04em;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
}

h1 {
    font-size: 1.2em;
}


/* Begin Nav Styling */

.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #011343;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #000000;
}

.nav li {
    list-style: none;
    cursor: default;
}

a {
    text-decoration: none;
}

.nav li a {
    display: block;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bolder;
    color: #ffffff;
    cursor: default;
}

.nav li a span:hover {
    /* color: #A5A7A6; */
    color: #e51316;
    cursor: pointer;
}

.logo {
    flex: 1;
    order: 0;
}

.item {
    order: 1;
    position: relative;
    display: block; 
    width: auto;
    text-align: center;
}

.toggle {
    display: none;
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.5em;
}

/* Start Hero Styling */
.background {
    animation: slide 3s ease-in-out infinite alternate;
    background-image : linear-gradient(-60deg, #ff0004 50%, #0065d7 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.background2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.background3 {
    animation-duration: 5s;
}

.hero>.hero-img {
    flex: 0 1 auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px;
    border-style: solid;
    border-color: #000;
    border-radius: 50%;
}

.hero>.elevator {
    flex: 0 1 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5em;
    font-size:  1.3em;
    font-weight: bold;
}

/* Start Blog and Work Styling */
.work-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 150px;
}

.blog-title, .work-title {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: bold;
}

.blog,
.work {
    flex: 1;
    text-align: center;
    min-width: 310px;
    margin: 25px;
    line-height: 1.5em;
}



/* Start Footer & Bottom Website Styling */

.footer {
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: #011343;
   padding-bottom: 22px;
   width: 100%;
}

.footer-title {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}




.contact-trigger {
	background-color: #011343;
	color: #ffffff;
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
	font-size: 1em;
	padding: 8px 16px;
    border-radius: 5px;
}

.contact-trigger:hover {
    background-color: #ffffff;
    color: #011343;
    font-weight: bolder;
    outline: 10px;
    outline-style: auto;
    outline-color: #011343;
    cursor: pointer;
    border-color: #011343
}

.footer-contact-button {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
}

.footer-contact-button h2 {
    padding-bottom: 10px;
}

.copyright {
    padding-top: 25px;
    text-align: center;
}

.contact-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.contact-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 1em;
    width: 20.3em;
    border-radius: 10px;
}

.show-contact-modal {
    opacity: 1;
    visibility: visible;
    transition: vvisibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.contact-modal-cotent label{
    display: block;
    padding-bottom: 5px;
}

.contact-modal-content input,
.contact-modal-content textarea {
    margin-bottom: 16px;
    width: 100%;
    font-size: 1em;
    border: 2px;
    border-style: solid;
    border-color: #011343;
    border-radius: 5px;
    padding: 5px 10px;
}

.contact-modal-content textarea {
    height: 160px;
    width: 100%;
}


.contact-modal-content .button {
    display: flex;
    justify-content: center;
	margin: 0 auto;
	background-color: #011343;
	color: #ffffff;
	border: none;
	font-size: 1em;
	padding: 8px 16px;
	border-radius: 5px;
}
.contact-modal-content .button:hover {
    background-color: #011343;
    outline: 2px;
    outline-style: solid;
    outline-color: #ffffff;
    cursor: pointer;    
}


/* Website Responsiveness - Phone */
@media all and (max-width: 425px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav li a {
        display: block;
        padding: 15px 5px;
    }

    .toggle {
        order: 1;
        font-size: 20px;
        display: initial;
    }

    .item {
        order: 3;
        width: 100%;
        text-align: center;
        display: none;
    }

    .active .item {
        display: block;
    }

    .hero>.elevator {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.1rem;
    }

    .blog,
    .work {
        margin: 10px;
    }

    .contact-modal-content {
        width: 15em;
        transform: translate(-53%, -50%);
    }
}


/* keyframes */
@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}