/* Begin Base Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --css-moving-background: linear-gradient(-60deg, #ff0004 50%, #0065d7 50%);
    --body-text-color: #ffffff;
    --menu-text-color-hover: #e51316;
    --nav-background-color: #011343;
    --css-modal-background: linear-gradient(-60deg, #ff0004, #0065d7);
    --contact-button-border-color: #ffffff;
    --contact-button-background-color: #011343;
    --contact-button-background-color-hover: #ffffff;
    --contact-button-outline-color-hover: #e51316;
    --contact-button-text-color-hover: #011343;
    --textarea-background-color: #ffffff;
    --devto-card-background: #25252548;
}

[data-theme = "darkmode"] {
    --css-moving-background: linear-gradient(-60deg, #150024 50%, #7e2800 50%);
    --body-text-color: #f8f8f8;
    --menu-text-color-hover: #e513167c;
    --nav-background-color: #000920;
    --css-modal-background: linear-gradient(-60deg, #150024, #7e2800);
    --contact-button-border-color: #f8f8f8;
    --contact-button-background-color: #000920;
    --contact-button-background-color-hover: #f8f8f8;
    --contact-button-outline-color-hover: #e513167c;
    --contact-button-text-color-hover: #000920;
    --textarea-background-color: #b3b1b1;
    --devto-card-background: ;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--body-text-color);
    letter-spacing: .04em;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
}

.hero-img {
    height: 350px;
}

h1 {
    font-size: 1.2em;
}


/* Begin Nav Styling */

.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--nav-background-color);
}

.nav li {
    list-style: none;
    cursor: default;
}

a {
    text-decoration: none;
}

.nav li a {
    display: block;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bolder;
    color: var(--body-text-color);
    cursor: default;
}

.nav li a span:hover {
    /* color: #A5A7A6; */
    color: var(--menu-text-color-hover);
    cursor: pointer;
}

.logo {
    flex: 1;
    order: 0;
}

/* Set up "slider" using a checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #7c7a7a;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #0065d7;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #0065d7;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .switch input {
    display:none;
  }

  .slider.round {
    border-radius: 34px;
    padding-top: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

.item {
    order: 1;
    position: relative;
    display: block; 
    width: auto;
    text-align: center;
}

.toggle {
    display: none;
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.5em;
}

/* Start Hero Styling */


.background {
    animation: slide 3s ease-in-out infinite alternate;
    background-image : var(--css-moving-background);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.background2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.background3 {
    animation-duration: 5s;
}

.hero>.hero-img {
    flex: 0 1 auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px;
    border-style: solid;
    border-color: #000;
    border-radius: 50%;
}

.hero>.elevator {
    flex: 0 1 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5em;
    font-size:  1.3em;
    font-weight: bold;
}

/* Start Blog and Work Styling */
.work-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 150px;
}

.blog-title, .work-title {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: bold;
    padding-bottom: 50px;
}



.blog,
.work {
    flex: 1;
    text-align: center;
    min-width: 500px; 
    margin: 25px;
    line-height: 1.5em;
}

/* dev.to styling */
.devArticle {
    margin: 25px auto;
    display: flex;
    border: 2px solid;
    border-radius: 20px;
    min-height: 180px;
    min-width: 540px;
    padding: 20px;
    padding-left: 50px;
    align-items: center;
    background-color: var(--devto-card-background);
  }
  #devArticle {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
  }
  
#article_title {
    padding-bottom: 25px;
    font-size: 1.75em;
}

  #article_title:hover {
      color: #1317e5;
  }

  #profile_image {
    border: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 50%;
    margin-right: 20px;
  }
 .article-info {
    display: flex;
  }

  .article-info p {
    margin: 5px;
    display: flex;
  }
  #tags {
    background-color: #4141414b;
    color: #ffffff;
    border-radius: 5px;
  } 

  #username {
    text-decoration: underline;
  }

  #username:hover {
    color: #1317e5;
  }

/* Working on section */
.work-block {
    margin: 25px auto;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--devto-card-background);
}

.work-block i {
    font-size: 15em;
}

.work-block p {
    font-size: 1.2em;
}

.work-block a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
}

.work-block a:hover {
    color: #1317e5;
}

/* Start Footer & Bottom Website Styling */

.footer {
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: var(--nav-background-color);
   padding-bottom: 22px;
   width: 100%;
}

.footer-title {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}




.contact-trigger {
	background-color: var(--contact-button-background-color);
	color: var(--body-text-color);
    border: 2px;
    border-style: solid;
    border-color: var(--contact-button-border-color);
	font-size: 1em;
	padding: 8px 16px;
    border-radius: 5px;
}

.contact-trigger:hover {
    background-color: var(--contact-button-background-color-hover);
    color: var(--contact-button-text-color-hover);
    font-weight: bolder;
    outline: 10px;
    outline-style: auto;
    outline-color: var(--contact-button-outline-color-hover);
    cursor: pointer;
}

.footer-contact-button {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
}

.footer-contact-button h2 {
    padding-bottom: 10px;
}

.copyright {
    padding-top: 25px;
    text-align: center;
}

.contact-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.contact-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image : var(--css-modal-background);
    padding: 1em;
    width: 20.3em;
    border-radius: 10px;
    border: 2px;
    border-style: solid;
    border-color: #000000;
}

.close-button {
    display: block;
    margin-right: 0;
    margin-left: auto;    
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25em;
    font-size: 1.75em;
}
.close-button:hover {
    background-color: #0065d7;
}

.show-contact-modal {
    opacity: 1;
    visibility: visible;
    transition: vvisibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.contact-modal-cotent label{
    display: block;
    padding-bottom: 5px;
    margin-top: 50px;
}

.contact-modal-content input,
.contact-modal-content textarea {
    margin-bottom: 16px;
    width: 100%;
    font-size: 1em;
    border: 2px;
    border-style: solid;
    border-color: #011343;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--textarea-background-color);
}

.contact-modal-content input::placeholder,
.contact-modal-content textarea::placeholder {
    color: #181818;
}

.contact-modal-content textarea {
    height: 160px;
    width: 100%;
}


.contact-modal-content .button {
    display: flex;
    justify-content: center;
	margin: 0 auto;
	background-color: var(--contact-button-background-color);
	color: var(--body-text-color);
	border: none;
	font-size: 1em;
	padding: 8px 16px;
	border-radius: 5px;
}
.contact-modal-content .button:hover {
    background-color: #011343;
    outline: 2px;
    outline-style: solid;
    outline-color: var(--body-text-color);
    cursor: pointer;    
}


/* Website Responsiveness - Phone */
@media all and (max-width: 425px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav li a {
        display: block;
        padding: 15px 5px;
    }

    .toggle {
        order: 1;
        font-size: 20px;
        display: initial;
    }

    .item {
        order: 3;
        width: 100%;
        text-align: center;
        display: none;
    }

    .active .item {
        display: block;
    }

    .hero-img {
        height: 250px
    }

    .hero>.elevator {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.1rem;
    }

    .blog,
    .work {
        margin: 10px;
        min-width: 100%;
    }

    

    .devArticle {
        margin: 25px auto;
        min-width: 320px;
        padding-left: 15px;
      }

    #devArticle {
        color: white;
        text-decoration: none;
      }

    #tags {
        display: none;
      } 
    
    #username {
        color: #000000;
        font-weight: bold;
    }

    .work-block {
        width: 100%
    }

    .contact-modal-content {
        width: 15em;
        transform: translate(-50%, -50%);
    }

    .footer {
        width: 100%;
    }
}

/* detect user system preference for darkmode at OS level */
@media (prefers-color-scheme: dark) {
    [data-theme = "darkmode"] {
    --css-moving-background: linear-gradient(-60deg, #150024 50%, #7e2800 50%);
    --body-text-color: #f8f8f8;
    --menu-text-color-hover: #e513167c;
    --nav-background-color: #000920;
    --css-modal-background: linear-gradient(-60deg, #150024, #7e2800);
    --contact-button-border-color: #f8f8f8;
    --contact-button-background-color: #000920;
    --contact-button-background-color-hover: #f8f8f8;
    --contact-button-outline-color-hover: #e513167c;
    --contact-button-text-color-hover: #000920;
    --textarea-background-color: #b3b1b1;
}
}

/* keyframes */
@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}